[submodule "AngelGo/Layoutassignmanet-1"]
	path = AngelGo/Layoutassignmanet-1
	url = https://github.com/AngelGo-Jesse/Layoutassignmanet-1.git
[submodule "brendevs/1st-assignment"]
	path = brendevs/1st-assignment
	url = https://github.com/brendevs/1st-assignment.git
[submodule "brendevs/Responsive-css"]
	path = brendevs/Responsive-css
	url = https://github.com/brendevs/Responsive-css.git
[submodule "AngelGo/Responsive-Layout"]
	path = AngelGo/Responsive-Layout
	url = https://github.com/AngelGo-Jesse/Responsive-Layout.git
[submodule "brendevs/Table-Layout-and-Design"]
	path = brendevs/Table-Layout-and-Design
	url = https://github.com/brendevs/Table-Layout-and-Design.git
[submodule "AngelGo/Table-Layout-and-Design"]
	path = AngelGo/Table-Layout-and-Design
	url = https://github.com/AngelGo-Jesse/Table-Layout-and-Design.git
[submodule "AngelGo/iframe"]
	path = AngelGo/iframe
	url = https://github.com/AngelGo-Jesse/iframe.git
[submodule "brendevs/Iframe"]
	path = brendevs/Iframe
	url = https://github.com/brendevs/Iframe.git
